.places {
  max-width: 987px;
  margin: 0 auto;
}

.places__item {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 48px 40px;
  grid-template-areas:
    "title artist"
    "image description"
    "button description";
  margin-bottom: 80px;
}

.places__item:last-of-type {
  margin-bottom: 0;
}

.places__title {
  grid-area: title;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 400px;
}

.places__artist {
  grid-area: artist;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.places__artist-heading {
  color: #aaaaaa;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  margin-bottom: 8px;
}

.places__artist-name {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.places__button {
  display: flex;
  grid-area: button;
  background-color: #0278fe;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.21;
  color: #fff;
  width: 248px;
  height: 48px;
}

.places__button:hover {
  background-color: #0063d2;
}

.places__description {
  grid-area: description;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.places__image {
  grid-area: image;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.places__paragraph {
  margin: 0 0 25px 0;
}

.places__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1140px) {
  .places__item {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 1140px) {
  .places__title {
    font-size: 42px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 1140px) {
  .places__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .places__item {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "description"
      "button";
    grid-gap: 32px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 49px;
  }
}

@media screen and (max-width: 640px) {
  .places__title {
    font-size: 32px;
    line-height: 1.09;
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 640px) {
  .places__image {
    align-self: stretch;
  }
}

@media screen and (max-width: 640px) {
  .places__artist {
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 640px) {
  .places__description {
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 640px) {
  .places__button {
    width: 288px;
    margin-right: 16px;
    margin-left: 16px;
  }
}
